table {
    table-layout: fixed;
    width: 100%;
}

table tr td.title {
    height: 80px;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

table .font-size-2em {
    line-height: 2em;
    font-size: 2em;
}

table .lineheight-1em {
    line-height: 1em !important;
}

table .font-size-09em {
    line-height: 1.5em;
    font-size: 0.9em;
}

table tr td.w50 {
    width: 50%;
}

table tr td.w33 {
    width: 33.33%;
}

table tr td.center {
    text-align: center;
}

table tr td img {
    vertical-align: middle;
    max-height: 95%;
    max-width: 95%;
}

.page-number {
    border: solid 1px;
    font-size: 18px;
    position: fixed;
    width: 20px;
    right: 5px;
    bottom: 5px;
    height: 20px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}